{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <script src="{% static 'htmx.min.js' %}" ></script>
  <script src="{% static 'ext/ws.js' %}" ></script>
</head>
<body>
  <h1>Hello Django!</h1>
  {% comment %} <div hx-ext="ws" ws-connect="/ws/echo/"> {% endcomment %}
    <h2 id="welcome"></h2>
  {% comment %} </div> {% endcomment %}
  <script>
    const myWebSocket = new WebSocket("ws://{{ request.get_host }}/ws/echo/");
    myWebSocket.addEventListener("message", (event) => {
      document.querySelector("#welcome").textContent = event.data;
    });
  </script>
</body>
</html>
